@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');


body{
    background: #fff;
    color: #6e98a9;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;